<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.tommasoberlose.anotherwidget">

    <uses-permission android:name="android.permission.READ_CALENDAR" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="com.android.vending.BILLING" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACTIVITY_RECOGNITION" />
    <uses-permission android:name="android.gms.permission.ACTIVITY_RECOGNITION"/>
    <uses-permission android:name="com.google.android.gms.permission.ACTIVITY_RECOGNITION" />


    <application
        android:allowBackup="true"
        android:fullBackupContent="@xml/my_backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:name=".AWApplication"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="LockedOrientationActivity">
        <activity android:name=".ui.activities.MainActivity" android:launchMode="singleInstance" android:theme="@style/AppTheme.Main" android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.activities.ChooseApplicationActivity" android:launchMode="singleInstance" android:screenOrientation="portrait" />
        <activity android:name=".ui.activities.CustomLocationActivity" android:launchMode="singleInstance" android:screenOrientation="portrait" />
        <activity android:name=".ui.activities.WeatherProviderActivity" android:launchMode="singleInstance" android:screenOrientation="portrait" />
        <activity android:name=".ui.activities.SupportDevActivity" android:launchMode="singleInstance" android:screenOrientation="portrait" />
        <activity android:name=".ui.activities.CustomDateActivity" android:launchMode="singleInstance" android:screenOrientation="portrait" />
        <activity android:name=".ui.activities.IntegrationsActivity" android:launchMode="singleInstance" android:screenOrientation="portrait" />


        <receiver android:name=".ui.widgets.MainWidget">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/the_widget_info" />
        </receiver>
        <receiver
            android:name=".receivers.NewCalendarEventReceiver"
            android:enabled="true"
            android:exported="true"
            android:priority="1000">
            <intent-filter>
                <action android:name="android.intent.action.PROVIDER_CHANGED" />
                <data android:scheme="content"/>
                <data android:host="com.android.calendar"/>
            </intent-filter>
            <intent-filter>
                <action android:name="com.tommasoberlose.anotherwidget.action.GO_TO_NEXT_EVENT" />
                <action android:name="com.tommasoberlose.anotherwidget.action.GO_TO_PREVIOUS_EVENT" />
            </intent-filter>
        </receiver>
        <receiver
            android:name=".receivers.UpdatesReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="com.tommasoberlose.anotherwidget.action.ACTION_CALENDAR_UPDATE" />
                <action android:name="com.tommasoberlose.anotherwidget.action.ACTION_TIME_UPDATE" />
                <action android:name="com.sec.android.widgetapp.APPWIDGET_RESIZE" />
                <action android:name="android.intent.action.MY_PACKAGE_REPLACED" />
                <action android:name="android.app.action.NEXT_ALARM_CLOCK_CHANGED" />
                <action android:name="android.intent.action.DATE_CHANGED" />
                <action android:name="android.intent.action.TIME_SET" />
                <action android:name="android.intent.action.TIMEZONE_CHANGED" />
                <action android:name="android.intent.action.LOCALE_CHANGED" />
            </intent-filter>
        </receiver>
        <receiver
            android:name=".receivers.WeatherReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="com.tommasoberlose.anotherwidget.action.ACTION_WEATHER_UPDATE" />
                <category android:name="android.intent.category.DEFAULT" />
                <action android:name="android.intent.action.MY_PACKAGE_REPLACED" />
                <action android:name="android.intent.action.TIME_SET" />
                <action android:name="android.intent.action.TIMEZONE_CHANGED" />
                <action android:name="android.intent.action.LOCALE_CHANGED" />
            </intent-filter>
        </receiver>

        <receiver
            android:name=".receivers.PlayerReceiver"
            android:enabled="true"
            android:exported="true"
            tools:ignore="ExportedReceiver">
            <intent-filter>
                <action android:name="com.android.music.metachanged" />
                <action android:name="com.android.music.playstatechanged" />
                <action android:name="com.android.music.playbackcomplete" />
                <action android:name="com.android.music.queuechanged" />

                <action android:name="com.htc.music.metachanged" />
                <action android:name="fm.last.android.metachanged" />
                <action android:name="com.sec.android.app.music.metachanged" />
                <action android:name="com.nullsoft.winamp.metachanged" />
                <action android:name="com.amazon.mp3.metachanged" />
                <action android:name="com.miui.player.metachanged" />
                <action android:name="com.real.IMP.metachanged" />
                <action android:name="com.sonyericsson.music.metachanged" />
                <action android:name="com.rdio.android.metachanged" />
                <action android:name="com.samsung.sec.android.MusicPlayer.metachanged" />
                <action android:name="com.andrew.apollo.metachanged" />
                <action android:name="com.spotify.music.playbackstatechanged"/>
                <action android:name="com.spotify.music.metadatachanged"/>
                <action android:name="com.spotify.music.queuechanged"/>
            </intent-filter>
        </receiver>

        <receiver
            android:name=".receivers.WidgetClickListenerReceiver"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <action android:name="com.tommasoberlose.anotherwidget.action.ACTION_OPEN_WEATHER_INTENT" />
            </intent-filter>
        </receiver>

        <receiver
            android:name=".receivers.CrashlyticsReceiver"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <action android:name="com.tommasoberlose.anotherwidget.action.ACTION_REPORT_CRASH" />
            </intent-filter>
        </receiver>

        <service android:name=".services.EventListenerJob" android:permission="android.permission.BIND_JOB_SERVICE" />

        <service android:name=".receivers.MusicNotificationListener"
            android:permission="android.permission.BIND_NOTIFICATION_LISTENER_SERVICE">
            <intent-filter>
                <action android:name="android.service.notification.NotificationListenerService" />
            </intent-filter>
        </service>

        <receiver android:name=".receivers.BatteryLevelReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.ACTION_POWER_CONNECTED"/>
                <action android:name="android.intent.action.ACTION_POWER_DISCONNECTED"/>
                <action android:name="android.intent.action.BATTERY_LOW"/>
                <action android:name="android.intent.action.BATTERY_OKAY"/>
            </intent-filter>
        </receiver>

        <receiver android:name=".receivers.FenceReceiver"
            android:exported="false"
            android:permission="com.google.android.gms.permission.ACTIVITY_RECOGNITION">
            <intent-filter>
                <action android:name="com.mypackage.ACTION_PROCESS_ACTIVITY_TRANSITIONS" />
            </intent-filter>
        </receiver>

        <meta-data
            android:name="com.google.android.awareness.API_KEY"
            android:value="${AWARENESS_API_KEY}"/>
    </application>

</manifest>